<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGqkTqv7X3J72YC1s2kjStGKtgk4HK9GU</string>
	<key>GCM_SENDER_ID</key>
	<string>264661410246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messenger</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bb045</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bb045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264661410246:ios:07be3c617c854dbba892c7</string>
</dict>
</plist>